Library/
Temp/
Logs/
Obj/
Build/
Builds/
UserSettings/
.vs/
.idea/
.vscode/

*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
Thumbs.db

_Backup_Oficina_Antiga/
_Backup_Oficina_Antiga.meta
.vsconfig
